name: Publish to PlatformIO

on:
  workflow_run:
    workflows:
      - Create Release
    types:
      - completed

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-tags: true

      - name: Install PlatformIO CLI
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: Publish to PlatformIO
        run: pio pkg publish --no-interactive
        env:
          PLATFORMIO_AUTH_TOKEN: ${{ secrets.PLATFORMIO_AUTH_TOKEN }}