name: Publish to PlatformIO

on:
  workflow_run:
    workflows:
      - Create Release
    types:
      - completed

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-tags: true

      - name: Download Release ZIP
        run: |
          curl -L -o project.zip "https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/ESPFileUpdater-${{ github.ref_name }}.zip"

      - name: Install PlatformIO CLI
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade platformio

      - name: Publish to PlatformIO
        run: pio pkg publish --no-interactive --owner ${{ github.repository_owner }} project.zip
        env:
          PLATFORMIO_AUTH_TOKEN: ${{ secrets.PLATFORMIO_AUTH_TOKEN }}